@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-secondary: 162, 123, 92;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

[data-theme="dark"] {
  --color-secondary: 144, 93, 208;
}

body {
  color: rgb(var(--foreground-rgb));
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.glow {
  box-shadow: 0 0 10px rgba(var(--color-secondary), 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

.glow:hover {
  box-shadow: 0 0 15px rgba(var(--color-secondary), 0.9);
}

.advanced {
  width: 85%;
}

.proficient {
  width: 66%;
}

.beginner {
  width: 50%;
}

@media (max-width: 1024px) {
  .advanced {
    width: 100%;
  }

  .proficient {
    width: 80%;
  }
}
svg {
  @apply stroke-secondary fill-secondary;
}

.theme-button svg {
  @apply stroke-primary fill-primary;
}

.upwork svg {
  @apply fill-primary stroke-primary;
}



@keyframes blinkCursor {
  50% { border-color: transparent; }
}

.typewriter {
  overflow: hidden;
  border-right: 3px solid;
  padding-right: 3px;
  white-space: nowrap;
  display: inline-block;
  animation: blinkCursor 0.75s step-end infinite;
  @apply border-secondary;
}

@keyframes fadeInUpLeft {
  from {
    opacity: 0;
    transform: translate(120px, 120px); /* Adjust as needed */
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeInUpRight {
  from {
    opacity: 0;
    transform: translate(-120px, 120px); /* Adjust as needed */
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.fade-in-up-left {
  animation: fadeInUpLeft 1s ease-out forwards;
}

.fade-in-up-right {
  animation: fadeInUpRight 1s ease-out forwards;
}
