@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0F1724;
}

.glow {
  box-shadow: 0 0 10px rgba(36, 162, 200, 0.5);
  /* Use accent color shadow */
  transition: box-shadow 0.3s ease-in-out;
  /* Optional: Add a smooth transition effect */
}

/* Optionally, you can define a hover effect to make the glow more pronounced */
.glow:hover {
  box-shadow: 0 0 15px rgba(36, 162, 200, 0.9);
  /* Increase the shadow size on hover */
}


.advanced {
  width: 75%;
}

.proficient {
  width: 66%;
}

@media (max-width: 1024px) {
  .advanced {
    width: 100%;
  }

  .proficient {
    width: 80%;
  }
}