@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-secondary: 162, 123, 92;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

[data-theme="dark"] {
  --color-secondary: 144, 93, 208;
}
body {
  color: rgb(var(--foreground-rgb));
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.glow {
  box-shadow: 0 0 10px rgba(var(--color-secondary), 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

.glow:hover {
  box-shadow: 0 0 15px rgba(var(--color-secondary), 0.9);
}

.advanced {
  width: 75%;
}

.proficient {
  width: 66%;
}

@media (max-width: 1024px) {
  .advanced {
    width: 100%;
  }

  .proficient {
    width: 80%;
  }
}
svg {
  @apply stroke-secondary fill-secondary;
}

.theme-button svg {
  @apply stroke-primary fill-primary;
}

.upwork svg {
  @apply fill-primary stroke-primary;
}
